.help-inline {
    color: #e73d4a !important;
}

span.select2-container--bootstrap {
    width: auto !important;
}

.text-vcenter-center  {
    vertical-align: middle !important;
    text-align: center !important;
}

.text-vcenter  {
    vertical-align: middle !important;
}

.text-align-center {
    text-align: center !important;
}

.errors-ul {
    padding-left: 12px;
}